.hex-cell {
  @hexSize: 30px;
  @hexColor: #352b31;
  @highlightHexColor: #96cf85;

  background-color: @hexColor;
  background-size: 80px;
  background-position: center;
  color: white;
  cursor: pointer;
  float: left;
  height: @hexSize;
  margin: (@hexSize / 2 + 2) 0 0 4px;
  position: relative;
  text-align: center;
  width: @hexSize * 1.73;

  &__coordinate {
    display: none;
    font-size: 10px;
    position: absolute;
    z-index: 1;

    &--x {
      right: 6px;
      top: 0;
    }

    &--y {
      left: 6px;
      top: 0;
    }

    &--z {
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__label {
    background: #9B4A40;
    border-radius: 8px;
    left: 50%;
    padding: 2px 8px;
    position: absolute;
    top: 34px;
    transform: translateX(-50%);
    z-index: 2;
  }

  &:after {
    border-top: @hexSize / 2 solid @hexColor;
    border-left: @hexSize * 0.86 solid transparent;
    border-right: @hexSize * 0.86 solid transparent;
    bottom: -@hexSize / 2;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 0;
  }

  &:before {
    border-bottom: @hexSize / 2 solid @hexColor;
    border-left: @hexSize * 0.86 solid transparent;
    border-right: @hexSize * 0.86 solid transparent;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: -@hexSize / 2;
    width: 0;
  }

  &:hover {
    background-color: @highlightHexColor;

    .hex-cell__coordinate {
      display: block;
    }

    &:after {
      border-top-color: @highlightHexColor;
    }

    &:before {
      border-bottom-color: @highlightHexColor;
    }
  }
}
